body,h1,h2,h3,h4,h5,ul,li,header,section,div,p,small,img,nav,main,a{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');

html {
    overflow-x: hidden;
}
body {
    font-family: 'Poppins';
}
a {
    list-style: none;
    text-decoration: none;
}

.general {
    width: 100%;
    height: 100vh;
    
}
.container {
    max-width: 966px;
    margin: 0 auto;
}
.float {
    float: left;
}
.container-grid {
    max-width:960px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    background-color:#cabaf8;
    top: 0;
    position: fixed;
    width:100%;
    z-index: 100;
    height: 57px;

}
.navbar img {
    float: left;
    padding-top:0px;
    margin-top: -72px;
    margin-left: 10px;

}
.navbar ul {
    padding: 20px 0;
    margin-top: 0px;
    margin-left: 75%;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    padding-left:15px;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
}
.banner {
    font-family: 'Lato';
    width: 100%;
    height: 512px;
    background-image: url('../img/banner1.png');
    background-position-x: 70%;
    background-position-y: -60px;
    background-repeat: no-repeat;
}

.banner-item {
    width: 330px;
    text-align: center;
    color: #790c2c;
    margin-top: 120px;
}
.banner-item h1 {
    text-transform: uppercase;
    line-height: 1.2em;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 30pt;
}
.banner-item p{
    line-height: 1.3em;
    font-size: 14pt;
}
.banner a {
    display: inline-block;
    background-color:#896ff4;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 45px;
    padding: 15px 50px;
    border-radius: 10px;

    
}
.beneficios {
    background-color:#cabaf8;
    height: 400px;
    color: white;
}
.beneficios-item {
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
.beneficios-item h3 {
    text-transform: uppercase;
    padding: 5px;
}
.beneficios-item p {
    line-height: 1.3em;
}
#facaparte {
    max-height: 526px;
}
#facaparte img {
    width: 100%;
    margin-top: -30px;
}
.parte-item {
    position: absolute;
    top: 84em;
    left: 65%;
    text-align: center;
    width: 33%;
    color:#883190;
}
.parte-item h2 {
    text-transform: uppercase;
    line-height: 1.2em;
    padding-bottom: 15px;
    font-weight: 500;
    font-size: 24pt;
}

.parte-item p {
    line-height: 1.3em;
    font-size: 14pt;
    margin-bottom: 20px;
}

.parte-item a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #aa57bf;
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
}

#contact {
    background-color:#cabaf8;
    margin-top: 15px;
    height: 600px;
    
    
}
.contact-item {
    margin-top: 20em;
    width: 300px;
    color: white;
    text-align: center;
    line-height: 1.3em;
}
.left {
    text-align: left;
    margin-left: -50%;
}
.right {
    text-align: end;
    margin-left: 70%;
}
.center {
    text-align: center;
    margin-left: 15%;
}
.contact-item h3 {
    text-transform: uppercase;
    padding: 5px;
}

.contact-item ul {
    list-style: none;
    text-decoration: none;
}
.contact-item li {
    padding-top: 2px;
}
.center img {
    padding-top: 14px;
}
.right img {
    width: 15px;
    padding-right: 5px;

}
#contact .lateral-top {
    position: relative;
    padding: 22.9em 0 0;
}
#contact .lateral-bottom {
    position: relative;
    left: 84em;
}
